<h3>Login de Usuario</h3>
<br />
<form action="/login" method="post">
  <div class="form-group">
    <label for="username" style="font-style: italic; font-weight: bolder;" >Ingrese su nombre</label>
    <input type="text" name="username" id="username" class="form-control" required/>
  </div>
  <input type="submit" value="Enviar" class="btn btn-success" />
</form>