<form
  action="/logout"
  method="post"
  style="display: flex;
    flex-direction: row;
    justify-content: space-between;"
>
  <h2 style="font-weight: bolder; color: brown">Bienvenido {{userName}}</h2>
  <input type="submit" value="Desloguear" class="btn btn-warning" />
</form>